.vs/CapacitiveTangiblesRecognizer/xs/UserPrefs.xml
.vs/CapacitiveTangiblesRecognizer/xs/sqlite3/db.lock
.vs/CapacitiveTangiblesRecognizer/xs/sqlite3/storage.ide
.vs/CapacitiveTangiblesRecognizer/xs/sqlite3/storage.ide-shm
.vs/CapacitiveTangiblesRecognizer/xs/sqlite3/storage.ide-wal
obj/Debug/Assembly-CSharp.csproj.CopyComplete
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
obj/Debug/Assembly-CSharp.csprojResolveAssemblyReference.cache
obj/Debug/Assembly-CSharp.dll
obj/Debug/Assembly-CSharp.pdb
